<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        使用Spring创建对象在Spring中这些都成为bean
    -->
    <bean id="hello" class="com.coderzoe.entity.Hello">
        <property name="name" value="helloSpring"/>
    </bean>
</beans>